[Unit]
Description=Update Quote Geolocation Webhook Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/usr/bin/update-quote-geolocation
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
